.left {
  cursor: pointer;
  margin-top: 8px;
}
.searchDiv {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
}
.divide {
  background-color: #dddddd;
  flex: 0 0 1px;
  height: 24px;
  width: 1px;
}
.header {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
  padding-right: 85px;
  padding-left: 85px;
}

.headerLogo {
  color: #ff385c;
}
.search {
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  transition: box-shadow 0.2s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 5px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 3px -1px;
}
.search:hover {
  box-shadow: rgba(0, 0, 0, 0.15) 0.5px 4px 4px 0.5px;
}
.searchButton {
  background-color: #ff385c;
  border-radius: 50%;
  padding: 3px;
  width: 31px;
  height: 31px;
  cursor: pointer;
}
.searchButton i {
  padding: 5px;
}
.right {
  display: flex;
}
.rightDiv1 {
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  margin-top: 8px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 8px;
}
.rightDiv1:hover {
  background-color: #f7f7f7;
}
.rightDiv2 {
  cursor: pointer;
  border-radius: 50px;
  padding: 7px;
  margin-top: 8px;
  margin-right: 8px;
}
.rightDiv2 i {
  margin: 5px;
}
.rightDiv2:hover {
  background-color: #f7f7f7;
}
.rightDiv3 {
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 8px;
  transition: box-shadow 0.2s;
}
.rightDiv3:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
.fa-bars {
  margin-right: 10px;
}
.rightDiv3 * {
  padding: 7px;
}
.middle {
  padding-left: 90px;
}
.divide2 {
  background-color: #dddddd;
  flex: 0 0 1px;
  height: 45px;
  width: 1px;
}
input {
  background-color: transparent;
}
.search2 {
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  transition: box-shadow 0.2s;
}
.searchDiv2 {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 50px;
}
.searchDiv2:hover {
  background-color: #f1f0f0;
}
.searchButton2 {
  background-color: #ff385c;
  border-radius: 50%;
  padding: 13px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.searchButton2 i {
  padding: 5px;
}
.tab {
  cursor: pointer;
  border-bottom: 3px solid transparent;
  padding: 10px;
}
.tab:hover {
  color: rgb(159, 155, 155);
  transition: 0.5s;
  border-bottom: 3px solid rgb(159, 155, 155);
}

.search3 {
  border: 1px solid lightgray;
  border-radius: 50px;
  display: flex;
  transition: box-shadow 0.2s;
}
.searchButton3 {
  background-color: transparent;

  border-radius: 50%;
  padding: 13px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.searchButton3 i {
  padding: 5px;
}
.filterButton {
  background-color: transparent;
  border: 1px solid lightgray;

  border-radius: 50%;
  padding: 13px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.filterButton i {
  padding: 5px;
}
.searchDiv3 {
  cursor: pointer;
  border-radius: 50px;
}
.headerSmall {
  display: none;
  margin-top: 15px;
  margin-right: 14px;
  margin-left: 14px;
}
@media screen and (max-width: 1030px) {
  .search {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 1015px) {
  .left {
    margin: 0;
    padding: 0;
    width: 30px !important;
    margin-top: 8px;
  }
  .rightDiv1 {
    font-size: small;
  }
  .header {
    width: 100%;
    padding-right: 45px;
    padding-left: 45px;
  }
  .middle {
    padding: 0;
  }
  .search {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 5px;
  }
}
@media screen and (max-width: 745px) {
  .header {
    display: none;
  }
  .headerSmall {
    display: flex;
    cursor: pointer;
  }
  .headerSmall p,
  .headerSmall label {
    margin: 0 !important;
  }
  .left {
    margin-top: 8px;
  }
}
/* header 2 */
.nav-link:hover {
  border-bottom-color: lightgray !important;
  opacity: 1 !important;
}

.border1 {
  border-bottom: 2px solid black !important;
}

.hiden {
  display: none;
}

.filter_hover:hover {
  background-color: white !important;
}

.Switch {
  width: 4rem !important;
  height: 2.5rem !important;
}

#duttomR2 {
  display: none;
}

.filterProprty:hover {
  background-color: white !important;
  border-color: black !important;
  color: black !important;
}

@media screen and (max-width: 1024px) {
  #duttomR1 {
    font-size: 70% !important;
  }

  #duttomR3 {
    width: 4 !important;
    height: 4 !important;
  }

  #duttomR {
    width: 12% !important;
  }
}

@media screen and (max-width: 769px) {
  #duttomR {
    width: 16% !important;
  }
}

@media screen and (max-width: 730px) {
  #subheader {
    width: 80% !important;
  }

  #subheader2 {
    flex-direction: column;
    border: 0 !important;
  }

  #subheader3 {
    border: 0 !important;
    padding-left: 0 !important;
  }

  #duttomR1 {
    display: none;
  }

  #duttomR2 {
    display: block !important;
    font-size: 70% !important;
    padding-right: 10%;
  }

  #duttomR3 {
    width: 4 !important;
    height: 4 !important;
  }

  #duttomR {
    width: 23% !important;
  }

  #buttonFilters {
    display: none !important;
  }

  #breav {
    display: none !important;
  }

  #next {
    display: none !important;
  }
}
/* end header 2 */
/* carousel */
.carousel-item {
  margin-left: 0 !important;
}
.carousel-control-prev {
  left: 0 !important;
}
.carousel-control-next {
  right: 0 !important;
}
/* caroursel */
